/* TODOO 
 make page more responsable
 top line  */

@font-face {
  font-family: HelveticaNeue;
  src: url(../../assets/fonts/HelveticaNeue.ttc);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue;
}

body {
  height: 100vh;
  background-color: #f7f7f7;
}
.red-border {
  border: 1.8px solid #e52f2f;
}

@media screen and (min-width: 1200px) {
  .arrowback {
    margin-left: 3.65%;
    display: inline-block;
  }
  .mobile,
  .mobileb,
  .pages-count {
    display: none;
  }
  .upload-p {
    display: inline-block;
  }
  .pages {
    width: 100%;
    display: inline-block;
  }
  #employee-page {
    visibility: visible;
  }

  .pages a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
  }

  .pages p {
    display: inline-block;
    margin-top: 4.7%;
    margin-right: 3.45%;
  }

  section {
    background-color: white;
    margin: 2.2% 18% 0;
    height: fit-content;
    padding-bottom: 3%;
  }
  .page-hr {
    width: 10.5%;
    margin-left: 37.2%;
    margin-top: 0.5%;
    border: 1px solid black;
  }
  form {
    padding: 5.5% 12% 0;
  }
  label {
    font-size: 18px;
    font-weight: bold;
  }

  h5 {
    font-size: 14px;
    color: #2e2e2e;
    font-weight: 300;
    margin-top: 0.2rem;
  }

  input {
    border: 1px solid #62a1eb;
    border-radius: 8px;
    outline: none;
    margin-top: 0.4rem;
    height: 3.75rem;
    font-size: 16px;
    padding-left: 10px;
  }
  .name,
  .lastname,
  .lastname-invalid {
    display: inline-block;
  }
  .lastname-invalid {
    margin-left: 1rem;
  }
  .lastname {
    margin-left: 4rem;
  }

  .namelstname input {
    width: 25.5rem;
  }

  select {
    height: 3.5rem;
    width: 55.5rem;

    margin-top: 3rem;
    border: none;
    outline: none;
    background-color: #ebebeb;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
  }

  option {
    width: 55.5rem;
    font-size: 18px;
    font-weight: 400;
    background-color: white;
  }

  .email {
    margin-top: 3rem;
  }

  .email input,
  .phone input {
    width: 55.5rem;
  }

  .phone {
    margin-top: 3rem;
  }

  .next-btn {
    float: right;
    margin-top: 7rem;
    margin-right: 2.7rem;
    width: 11rem;
    height: 3.75rem;
    background-color: #62a1eb;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
  }

  .next-btn:hover {
    transition: 200ms ease;
    background: #317ad0;
  }

  .next-btn:active {
    background: #1a5dab;
  }

  .logo {
    text-align: center;
    margin-top: 4rem;
    padding-bottom: 2rem;
  }

  .red-border {
    border: 1.8px solid #e52f2f;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
  .button-page {
    width: 100%;
    display: inline-block;
  }
  .employee-page {
    margin-left: 30.3%;
  }
}

@media screen and (max-width: 1200px) {
  body {
    background-color: #f6f6f6;
    min-height: 100vh;
    padding: 7% 4% 0;
    display: flex;
    flex-direction: column;
  }

  hr {
    display: none;
  }
  a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: black;
  }
  .pages-count {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #898989;
    margin-bottom: 45px;
  }
  .laptop-page {
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobile,
  .employee-page {
    display: inline-block;
  }

  .employee-page {
    margin-left: 20%;
    margin-bottom: 5px;
  }
  .pages {
    width: 100%;
  }

  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h5 {
    margin-bottom: 15px;
  }
  label {
    font-weight: bold;
    font-size: 18px;
  }
  h5 {
    margin-top: 7px;
    font-weight: 300;
    font-size: 14px;
    color: #2e2e2e;
  }
  input {
    border: 1.8px solid #8ac0e2;
    outline: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
  }
  select {
    background-color: #ebebeb;
    border: none;
    outline: none;
    margin-top: 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .logo {
    display: none;
  }

  .button-page {
    display: inline-block;
    width: 100%;
    padding: 5% 0 10%;
  }
  .next-btn {
    float: right;
    width: 11rem;
    height: 3.75rem;
    background-color: #62a1eb;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
}
