/* TODOO 
 make page more responsable
 top line  */

@font-face {
  font-family: HelveticaNeue;
  src: url(../../assets/fonts/HelveticaNeue.ttc);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue;
}

body {
  padding: 4rem 1rem 2rem 1rem;
  height: 100vh;
  background-color: #f7f7f7;
}

.arrowback {
  float: left;
  margin-left: 1rem;
}

.pages {
  display: flex;
  justify-content: center;
}

.pages p {
  margin-right: 5rem;
  font-size: 20px;
  font-weight: bold;
}

section {
  width: 76.625rem;
  height: 60rem;
  background-color: white;
  margin: auto;
  margin-top: 2rem;
  padding-left: 9rem;
  padding-top: 6rem;
  border-radius: 15px;
}

label {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 14px;
  color: #2e2e2e;
  font-weight: 300;
  margin-top: 0.2rem;
}

input {
  border: 1px solid #62a1eb;
  border-radius: 8px;
  outline: none;
  margin-top: 0.4rem;
  height: 3.75rem;
  font-size: 16px;
  padding-left: 10px;
}

.name,
.lastname,
.lastname-invalid {
  display: inline-block;
}
.lastname-invalid {
  margin-left: 1rem;
}
.lastname {
  margin-left: 4rem;
}

.namelstname input {
  width: 25.5rem;
}

select {
  height: 3.5rem;
  width: 55.5rem;

  margin-top: 3rem;
  border: none;
  outline: none;
  background-color: #ebebeb;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
}

option {
  width: 55.5rem;
  font-size: 18px;
  font-weight: 400;
  background-color: white;
}

.email {
  margin-top: 3rem;
}

.email input,
.phone input {
  width: 55.5rem;
}

.phone {
  margin-top: 3rem;
}

.next-btn {
  float: right;
  margin-top: 7rem;
  margin-right: 12.2rem;
  width: 11rem;
  height: 3.75rem;
  background-color: #62a1eb;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
}

.next-btn:hover {
  transition: 200ms ease;
  background: #317ad0;
}

.next-btn:active {
  background: #1a5dab;
}

.logo {
  text-align: center;
  margin-top: 4rem;
}

.red-border {
  border: 1.8px solid #e52f2f;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
