@font-face {
  font-family: HelveticaNeue;
  src: url(./asset/fonts/HelveticaNeue.ttc) format("ttc");
}
/* TO DOO */
/* make page not scrollable */

@media screen and (min-width: 845px) {
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
    width: 100%;
    max-width: 780px;
  }
}

@media screen and (max-width: 844px) {
  .img-mobile {
    display: block;
  }
  .img-desktop {
    display: none;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue;
}

body {
  padding: 4rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.landing-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.landing-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 23.5rem;
  height: 3.8rem;

  background: #62a1eb;

  border-radius: 8px;

  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.landing-buttons a:hover {
  transition: 200ms ease;
  background: #317ad0;
}

.landing-buttons a:active {
  background: #1a5dab;
}
